@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #333;
  font-family: "Outfit", "Roboto", sans-serif;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/pngB.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5; /* Adjust opacity here */
  z-index: -1; /* Push it behind content */
}

#root {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}

/* Background effects */
#background {
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0) 40%
    ),
    radial-gradient(
      rgb(255, 209, 82) 30%,
      rgb(226, 105, 150),
      rgba(226, 105, 150, 0.4) 41%,
      transparent 52%
    ),
    radial-gradient(rgb(160, 51, 255) 37%, transparent 46%),
    linear-gradient(155deg, transparent 65%, rgb(37, 212, 102) 95%),
    linear-gradient(45deg, rgb(0, 101, 224), rgb(15, 139, 255));
  background-position: left bottom, 109% 68%, 109% 68%, center center,
    center center;
  background-repeat: no-repeat;
  background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
  inset: 0px;
  opacity: 0.08;
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

/* Hide app on desktop */
.app {
  display: none !important;
}

/* Show app on mobile */
@media only screen and (max-width: 767px) {
  .app {
    display: flex !important;
  }
}

/* Show desktop warning on large screens */
.desktop-message {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
}

/* Hide desktop message on mobile */
@media only screen and (max-width: 767px) {
  .desktop-message {
    display: none !important;
  }
}
